  <div class="new-post">
    <input name="content" rows="2" cols="65" data-behavior="room_speaker">
    <select id="group" name="group">
      <option value="1">Group1</option>
      <option value="2">Group2</option>
      <option value="3">Group3</option>
    </select>
  </div>